{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/login.css">
        <title>Todo App</title>
    </head>

    <body>
        <div class="container-flex">

            {% if user.is_authenticated %}
            {% include 'nav.html' %}
            <div class="row d-flex justify-content-start ms-5 mt-5">
                {% for i in todos reversed %}
                <div class="col-lg-3">
                    <a href="todoitem/{{i.id}}" style="text-decoration: none; color: black;">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                {% if i.completed == True %}
                                <p><i style="color: rgb(25, 153, 8);" class="bi bi-check-circle-fill"> Completed</i></p>
                                {% else %}
                                <p><i style="color: rgb(236, 33, 18);" class="bi bi-check-circle-fill"> Incomplete</i>
                                </p>
                                {% endif %}
                                <h5 class="card-title">Title: {{i.title}}</h5>
                                <h6 class="card-text">Todo: {{i.items}}
                                </h6>
                                <p class="card-text">{{i.created_at}}</p>
                                <a class="btn mt-3"
                                    style="padding: 1% 5%; background-color: rgb(25, 153, 8); color:#fff; text-decoration: none;"
                                    href="todoitem/{{i.id}}">Update</a>&nbsp;&nbsp;
                                <a class="btn mt-3"
                                    style="padding: 1% 5%; background-color: rgb(236, 33, 18); color:#fff; text-decoration: none;"
                                    href="deletetodo/{{i.id}}">Delete</a>

                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>

            {% else %}
            <div class="row">
                <div class="col-lg-4">
                    <img src="/static/images/background.jpg" style="margin-left: 25%; margin-top:10%" alt="background" height="550" width="550">
                </div>
                <div class="col-lg-8">
                    <h1 class="d-flex justify-content-center mt-5 logo">todos</h1>
                    <div class="mt-5">
                        <h4 class="d-flex justify-content-center fw-bold">Make Your Todos With Us</h4>
                        <p class="d-flex justify-content-center"><span>Easy to make.&nbsp;&nbsp;&nbsp;</span><span>Easy
                                to
                                manage.&nbsp;&nbsp;&nbsp;</span><span>With Few Steps.&nbsp;&nbsp;&nbsp;</span></p>
                    </div>
                    <div>
                        <p class="d-flex justify-content-center fs-3"><span><a
                                    href="register">Register&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></span><span><a
                                    href="login">Login</a></span></p>
                    </div>
                </div>
            </div>
            {% endif %}

        </div>
        <script src="/static/bootstrap/js/bootstrap.js"></script>
    </body>

</html>