{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="/static/css/login.css">
        <title>Update List | Todo</title>
    </head>

    <body>
        <div class="container-flex">
            {% include 'nav.html' %}
            {% for i in todos %}
            <div style="width:auto;" class="division position-absolute top-50 start-50 translate-middle px-3 py-4">
                <div class="heading d-flex justify-content-center">
                    <h3>Update : {{i.title}}</h3>
                </div>
                <hr>
                <form action="updatetodo/{{i.id}}" method="post" class="pt-3">
                    {% csrf_token %}
                    <div class="row g-3">
                        <div class="">
                            <label for="title" class="form-label fw-medium d-flex justify-content-center">Title</label>
                            <input type="text" class="form-control border border-success" name="title" id="title"
                                placeholder="Title" value="{{i.title}}">
                        </div>
                        <div>
                            <label for="items" class="form-label fw-medium">Add Items</label>
                            <input type="text" class="form-control border border-success" name="items" id="items"
                                placeholder="Add items" value="{{i.items}}">
                        </div>
                        <div>
                            <div class="form-check">
                                {% if i.completed %}
                                <input name="checked" value="True" class="form-check-input" type="checkbox" id="flexCheckDefault" checked>
                                {% else %}
                                <input name="checked" value="True" class="form-check-input" type="checkbox" id="flexCheckDefault">
                                {% endif %}
                                <label class="form-check-label" for="flexCheckDefault">
                                    Done
                                </label>
                            </div>
                        </div>
                    </div>
                    <input class="btn-primary b mt-2" type="submit" value="Update">
                </form>
            </div>
            {% endfor %}
        </div>
        <script>
            function strikeThrough() {
                var x = document.getElementById("item");

                if (x.style.textDecoration === "line-through") {
                    x.style.textDecoration = "none";
                } else {
                    x.style.textDecoration = "line-through";
                }
            }
        </script>
        <script src="/static/js/todo.js"></script>
        <script src="/static/bootstrap/js/bootstrap.js"></script>
    </body>

</html>